<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <canvas id="background"></canvas>
    <div class="container">
        <header>
            <h1>Welcome!</h1>
        </header>
    <main>
        <div class="profile">
            <img src="/static/images/bocchi.jpeg" alt="Profile Picture">
            <h2>NauFaisa</h2>
            <p class="about-me">
            I am someone often overwhelmed by anxiety, skeptical of dogmatic beliefs, and frequently caught in emotionally charged dreams, yet constantly striving to understand myself amidst life's challenges.
            </p>
        </div>
        <div class="social-icons">
            <a href="https://x.com/witchbeast17" class="social-icon" data-popup="Twitter"><img src="/static/images/icons/x.svg" alt="X">
            </a>
            <a href="https://youtube.com/@delvers17" class="social-icon" data-popup="YouTube"><img src="/static/images/icons/youtube.svg" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/naufaisa_/" class="social-icon" data-popup="Instagram"><img src="/static/images/icons/instagram.svg" alt="Instagram">
            </a>
            <a href="https://www.tiktok.com/@witchbeast_" class="social-icon" data-popup="TikTok"><img src="/static/images/icons/tiktok.svg" alt="TikTok">
            </a>
            <a href="https://facebook.com/naufalfaisa17" class="social-icon" data-popup="Facebook"><img src="/static/images/icons/facebook.svg" alt="Facebook">
            </a>
            <a href="https://discord.com/users/906745089483747328" class="social-icon" data-popup="Discord"><img src="/static/images/icons/discord.svg" alt="Discord">
            </a>
            <a href="https://open.spotify.com/user/316dr3ijonzptxiojj56cjgwapma?si=d85447643c37433f" class="social-icon" data-popup="Spotify"><img src="/static/images/icons/spotify.svg" alt="Spotify">
            </a>
            <a href="https://github.com/naufalfaisa" class="social-icon" data-popup="GitHub"><img src="/static/images/icons/github.svg" alt="GitHub">
            </a>
        </div>
    </main>
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
